* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 100px;
    padding: 50px;
    border: 10px rgba(118, 0, 255, 0.92) solid;
}